##################
# BACKEND CONFIG #
##################

# !NOTE: This is a template. Make a copy named .env and fill in the relevant fields.

# COMMON
# ---------------
ENV=PROD


# USER SERVICE
# ---------------
PORT_USER=3001
# MongoDB
DB_URI_USER=''

# JWT secret
JWT_SECRET=you-can-replace-this-with-your-own-secret


# QUESTION SERVICE
# ---------------
PORT_QUESTION=3002
# MongoDB
DB_URI_QUESTION=''

# MATCHING SERVICE
# ---------------
PORT_MATCHING=3003

# COLLABORATION SERVICE
# ---------------
PORT_COLLABORATION=3004

# AI SERVICE
# ---------------
PORT_AI=3005
GEMINI_API_KEY=

# Chat SERVICE
# ---------------
PORT_CHAT=3006

# -----------
# For local mongodb instance, uncomment BOTH:

# DB_URI_USER='mongodb://mongo:27018/user'
# DB_URI_QUESTION='mongodb://mongo:27018/question'